body {
    background-color: black
}

div.userChatBox {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}

form.userChat {
    grid-column-start: 3;
    grid-column-end: 4;
}

input.userChatInput {
    filter: invert(100%);
    outline-width: 0;
    border: 0;
    width: 300px;
}