body {
    background-color: black
}

div.totalGrid {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto;
}

div.ghostChatBox {
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

div.ghostChatBox2 {
    grid-row: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

div.ghostChatBox3 {
    grid-row: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}


form.userChat {
    grid-column-start: 3;
    grid-column-end: 4;
}

input.userChatInput {
    filter: invert(100%);
    outline-width: 0;
    border: 0;
    width: 300px;
}